<h1>Edit your phone number</h1>

<% if @phone.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @phone.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="." method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="number">New Number</label>
  <input id="phone_number" name="phone" type="text" value="<%= @phone.number %>">
  <button>Press the button to add the phone number</button>
</form>
