<h1>YOUR PHONE NUMBER HAS BEEN........ saved!</h1>

<p id="new">YOUR PHONE NUMBER HAS BEEN SAVED TO THE ADDRESS BOOK.</p>

<div id="sucess">
  <img src="water.gif" height="42" width="42">
</div>


<p id="phone_two"><a href="/contacts">Return to contact listing</a></p>
<p id="phone_two"><a href="/contacts/<%= @contact.id %>">Return to this contact</a></p>
