<h1>YOUR PHONE NUMBER HAS BEEN........ saved!</h1>

<p id="new">YOUR PHONE NUMBER HAS BEEN SAVED TO THE ADDRESS BOOK.</p>

<div id="sucess"></div>


<p><a href="/contacts">Return to contact listing</a></p>
