<div id="wrapper">
<link rel="stylesheet" type="text/css" href="styles_one.css">

<h1>Contacts</h1>



<ul>
  <% @contacts.each do |contact| %>
    <li><a id= "phone" href="/contacts/<%= contact.id %>">
      <%= contact.name %></li>
  <% end %>
</ul>


  <p id="new_contact"><a href="/contacts/new" id="link">New Contact</a></p>

</div>

<div id='footer'>

</div>
