<div id="wrapper">
<h1>New contact</h1>

<% if @contact.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form id="new" action="/contacts" method="post">
  <label for="contact-name">Name</label>
  <input id="contact_name" name="name" type="text" value="<%= @contact.name %>">
  <label for="contact-phone">Phone</label>
  <input id="contact_phone" name="phone" type="text" value="<%= @contact.phone %>">
  <label for="contact-email">Email</label>
  <input id="contact_Email" name="email" type="text" value="<%= @contact.email %>">
  <button>Create Contact</button>
</form>

<a href="/contacts" id="link" >Return to contact listing</a>
</div>
