<h1>Contact saved!</h1>

<p id="new">Your contact was successfully saved.</p>

<div id="sucess"></div>

<p id="phone_two"><a href='/contacts/<%= @contact.id %>'>View <%= @contact.name %></a></p>
<p id="phone_two"><a href="/contacts">Return to contact listing</a></p>
