h1, #link{
  color: #575757;
  font-size: 60px;
  transition: background .5s, color 2s;
  background-size: 40px 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #575757;
  width: 80%;
  text-align: center;
  font-family: font-to-use;
  margin: 20px;

}
h1:hover {
  color: white;
  font-size: 60px;
  background:url(water.jpg);
  background-size: 7px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 80%;
  text-align: center;
}

body {
  /*background-image: url('black-metal.jpg');*/
  background-color: gray;
  background-size: 2000px 1500px;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  border-style: solid;
  border-width: 20px;
  border-color: black;
  height: 100%;
}


p {
  color: orange;
  font-size: 40px;
}

#errors {
  color: orange;
  font-size: 20px;

}



.brick_wall {
  background:url(brick_wall.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  width: 40%;
    height: 40%;
    background: #444;
    margin: 0 auto;
}

#phone {
  background-color: #A3C9AB;
  color: black;
  font-size: 40px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  transition: background-color 1s, border-radius 2s, color 3s;
}

#phone_contacts {
  background-color: #A3C9AB;
  color: black;
  font-size: 40px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  transition: background-color 1s, border-radius 2s, color 3s;
}

#phone_two {
  background-color: #A3C9AB;
  color: black;
  font-size: 40px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
  transition: background-color 1s, border-radius 2s, color 3s;
}

#email {
  background-color: #A3C9AB;
  color: black;
  font-size: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

#phone:hover {
  background-color: #24B4C7;
  /*border-radius: 50%;*/
  color: red;
}

#phone_contacts:hover {
  background-color: #24B4C7;
  border-radius: 20%;
  color: red;
}

#phone_two:hover {
  background-color: #9DE305;
  color: red;
}

#new_contact {
  transition: background 1s, border-radius 1s, background-size 1s;
  font-size: 60px;
  width: 25%;
  color: red;

}

#new_contact:hover {
  background:url(zebra.jpg);
  background-size: 30px 10px;
  border-radius: 50%;
  color: blue;
}

#input_color {
  background-color: #F0D000;
  height: 3em;
  transition: background-color 2s;
}

#input_color:hover {
  background-color: #C294FF;
}


#new {
  background-color: #A70085;
  color: black;
  border-radius: 20px;
  font-size: 80px;
  border-style: double;
  border-color: black;
  border-width: 10px;
  background:url(zebra.jpg);
  background-size: 7px 20px;
}

input {
  background-color: #FFE387;
  border-width: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 15px;
}

button {
  background-color: #DBFF0D;
  font-size: 20px;
  margin: 20px;
}
#success{
  height: 100px;
  width: 100px;
  animation: success 4s infinite alternate;
  -webkit-animation: success 4s infinite alternate;
  font-size: 30px;
  border-radius: 20px;
  border-width: 2px;
  border-color: white;
  color: black;

}

#success_two {
  height: 100px;
  width: 100px;
  animation: success_two 2s infinite alternate;
  -webkit-animation: success_two 2s infinite alternate;
  font-size: 30px;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  color: black;

}

@keyframes success {
    0% {background: #82E8C4;
      width: 100px;
      height: 100px;}
    50% {
      background: #82DCE8;
      /*transform: rotate(20deg);*/
    }
    100% {background: #40D0E3;
      width: 50px;
      height: 50px;
      }
}

@-webkit-keyframes success {
    0% {background: #558fff;
      width: 100px;
      height: 100px;}
    50% {
      background: #ADFFF0;
      /*transform: rotate(20deg);*/
    }
    100% {background: #82DCE8;
      width: 50px;
      height: 50px;}
}

@keyframes success_two {
    0% {background: #84fc21;
      width: 100px;
      height: 100px;}
    50% {
      background: #558fff;
      /*transform: rotate(20deg);*/
    }
    100% {background: #82DCE8;
      width: 50px;
      height: 50px;
      }
}

@-webkit-keyframes success_two {
   0% {background: #A10B56;
      width: 100px;
      height: 100px;}
    50% {
      background: #58ffff;
      /*transform: rotate(20deg);*/
    }
    100% {background: #C9FC5B;
      width: 50px;
      height: 50px;
      }
}

@font-face {
  font-family: font-to-use;
  src: url(roboto-black.ttf);
}

#wrapper {
  background:url(stars.jpg);
  background-size: 100px 100px;
}

#footer {
  height: 270px;
  width: 100%;
  background-color:#7FDBFF;
  background-size: 200px 200px;
  position: absolute;
  top: 70%;
  right: 100px;
  left: 0px;
  opacity: .5;

}



