<h1>Edit your email address</h1>

<% if @email.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @email.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="." method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="address">New Email Address</label>
  <input id="input_color" id="phone_number" name="address" type="text" value="<%= @email.address %>">
  <button>Press the button to add the email address</button>
</form>

<p id="phone_two"><a href="/contacts">Return to contact listing</a></p>
<p id="phone_two"><a href="/contacts/<%= @contact.id %>">Return to this contact</a></p>

