<h1>YOUR EMAIL ADDRESS HAS BEEN........ saved!</h1>

<p id="new">YOUR EMAIL ADDRESS HAS BEEN SAVED TO THE ADDRESS BOOK.</p>

<div id="sucess" style="width: 60px; height: 60px;">
</div>


<p><a id="phone_two" href="/contacts">Return to contact listing</a></p>
<p><a id="phone_two" href="/contacts/<%= @contact.id %>">Return to this contact</a></p>
